<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="OfxpEntities" connectionString="metadata=res://*/ModelOFxP.csdl|res://*/ModelOFxP.ssdl|res://*/ModelOFxP.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=D:\Projects\OpenForexPlatform\SourceCode\External\ofxp.s3db&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <runtime>
    <!--
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="1.0.60.0"
                        newVersion="1.0.44.0"/>
      </dependentAssembly>
    </assemblyBinding>
    -->
  </runtime>
</configuration>
